* {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    background-color: black;
}

nav {
    background-color: teal;
    display: flex;
    justify-content: space-around;
}

nav > a {
    color: blanchedalmond;
    background-color: teal;
    text-shadow: 2px 2px black;
    text-decoration: none;
    font-size: 15px;
}

nav > a:hover {
    background-color: black;
}

header {
    color: blanchedalmond;
}

.street {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0px 0px 27px 10px rgba(0,128,128,0.7);
}

table, th, td, tr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    border-style: groove;
    border-color: teal;
    padding: 8px;
    color: blanchedalmond;
}


